
/* Styling for the crystal images */
.Crystals{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Styling the background for the Crystal Div columns */
.col-md-3{
	background-color: #ADD8E6
}